name: Miner CI
on:
    push:
        branches:
            - "**"
        paths:
            - "p2p-blockchain/**"
            - "proto/**"
    pull_request:
        branches:
            - "main"

permissions:
    contents: read

concurrency:
    group: miner-ci-${{ github.ref }}
    cancel-in-progress: true

env:
    PROJECT_FOLDER_NAME: p2p-blockchain

jobs:
    ci-miner:
        name: "CI - Miner"
        runs-on: ubuntu-latest
        steps:
            - name: Check out code
              uses: actions/checkout@v5

            - name: Setup
              uses: ./.github/actions/setup

            - name: Check formatting
              uses: ./.github/actions/check_go_formatting
              with:
                  project: ${{ env.PROJECT_FOLDER_NAME }}

            - name: Check linting
              uses: golangci/golangci-lint-action@v8
              with:
                  working-directory: ${{ env.PROJECT_FOLDER_NAME }}
                  version: latest
                  args: --timeout=3m

            - name: Build and Test
              uses: ./.github/actions/test-and-build

            - name: Build Docker image
              uses: docker/build-push-action@v6
              with:
                  context: ./p2p-blockchain/
                  push: false
                  tags: miner-vsp-blockchain:latest
                  cache-from: type=gha,scope=miner
                  cache-to: type=gha,mode=max,scope=miner
