name: REST CI
on:
    push:
        branches:
            - "**"
        paths:
            - "rest-schnittstelle/**"
            - "proto/**"
    pull_request:
        branches:
            - "main"

permissions:
    contents: read

concurrency:
    group: rest-ci-${{ github.ref }}
    cancel-in-progress: true

env:
    PROJECT_FOLDER_NAME: rest-schnittstelle

jobs:
    ci-rest:
        name: "CI - REST API"
        runs-on: ubuntu-latest
        steps:
            - name: Check out code
              uses: actions/checkout@v5

            - name: Set up Docker Buildx
              id: buildx
              uses: docker/setup-buildx-action@v3
              with:
                  driver: docker-container
                  install: true

            - name: Setup
              uses: ./.github/actions/setup

            - name: Check formatting
              uses: ./.github/actions/check_go_formatting
              with:
                  project: ${{ env.PROJECT_FOLDER_NAME }}

            - name: Check linting
              uses: golangci/golangci-lint-action@v8
              with:
                  working-directory: ${{ env.PROJECT_FOLDER_NAME }}
                  version: latest
                  args: --timeout=3m

            - name: Build and Test
              uses: ./.github/actions/test-and-build

            - name: Build Docker image
              uses: docker/build-push-action@v6
              with:
                  builder: ${{ steps.buildx.outputs.name }}
                  context: ./rest-schnittstelle/
                  push: false
                  tags: rest-vsp-blockchain:latest
                  cache-from: type=gha,scope=rest
                  cache-to: type=gha,mode=max,scope=rest
